{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block pagetitle %}
    Shows
{% endblock %}

{% block content %}

    <div id="tf-program-shows" class="tf-single-column">

        <div class="search">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#search-expand">What are you looking for (click to search)?</a>
                    </h4>
                </div>
                <div id="search-expand" class="panel-body panel-collapse collapse">
                    <p class="tf-instructions">Check days, venues and/or genres to restrict the search (leave all boxes unchecked to see everything).</p>
                    <form class="row" method="GET">
                        {% csrf_token %}
                        <div class="col-xs-12 col-sm-3">{{ search.days.label_tag }}<br/>{{ search.days }}</div>
                        <div class="col-xs-12 col-sm-3">{{ search.venues.label_tag }}<br/>{{ search.venues }}</div>
                        <div class="col-xs-12 col-sm-3">{{ search.genres.label_tag }}<br/>{{ search.genres }}</div>
                        <div class="col-xs-12 col-sm-3 text-right"><input class="btn btn-primary" type="submit" value="search"/></div>
                    </form>
                </div>
            </div>
        </div>

        <div class="results">
            {% for show in results %}
                {% if show.is_cancelled %}
                    <div class="row show tf-cancelled">
                        <div class="image col-xs-4 col-md-3">
                            <img src="{{ MEDIA_ROOT }}{{ show.image.url }}" />
                        </div>
                        <div class="col-xs-8 col-md-9">
                            <div class="tf-show-name">{{ show.name }}</div>
                            <div class="tf-company-name">{{ show.company.name }}</div>
                            <div class="description">
                                {% if show.replaced_by %}
                                    CHANGE TO BROCHURE: this show is cancelled and replaced by {{ show.replaced_by.company.name }} performing <a href="{% url 'program:show_detail' show.replaced_by.id %}">{{ show.replaced_by.name }}</a>.
                                {% else %}
                                    CHANGE TO BROCHURE: this show is cancelled.
                                {% endif %}
                            </div>
                            <div class="info1">
                                <span class="venue">{{ show.venue.name }}</span>
                                <span class="days">
                                    {% for date in show.performance_dates %}
                                        {% if not forloop.first %}, {% endif %}
                                        {{ date | date:'D' }}
                                    {% endfor %}
                                </span>
                            </div>
                        </div>
                    </div>                
                {% else %}
                    <div class="show row">
                        <div class="image col-xs-4 col-md-3">
                            <a href="{% url 'program:show_detail' show.id %}">
                                <img src="{{ MEDIA_ROOT }}{{ show.image.url }}" />
                            </a>
                        </div>
                        <div class="col-xs-8 col-md-9">
                            <div class="title tf-show-name"><a href="{% url 'program:show_detail' show.id %}">{{ show.name }}</a></div>
                            <div class="company tf-company-name">{{ show.company.name }}</div>
                            <div class="description hidden-xs">{{ show.list_long_description | linebreaks }}</div>
                            <div class="description visible-xs-block">{{ show.list_short_description | linebreaks }}</div>
                            <div class="info1">
                                <span class="venue"><a href="{% url 'program:venue_detail' show.venue_id %}" {% if show.venue.color %}style="color: {{ show.venue.color }}"{% endif %}>{{ show.venue.name }}</a></span>
                                <span class="days">
                                    {% for date in show.performance_dates %}
                                        {% if not forloop.first %}, {% endif %}
                                        {{ date | date:'D' }}
                                    {% endfor %}
                                </span>
                                <span class="tickets">({% if show.venue.is_ticketed %}ticketed{% else %}pay-what-you-will{% endif %})</span>
                            </div>
                            <div class="info2">
                                {% if show.display_genres %}
                                    <span class="genres hidden-xs">
                                        {{ show.display_genres }}
                                    </span>
                                {% endif %}
                                {% if show.has_warnings %}
                                    <a class="warnings" href="{% url 'program:show_detail' show.id %}">(content)</a>
                                {% endif %}
                                {% if show.age_range %}
                                    <span class="age-range">Age {{ show.age_range }}</span>
                                {% endif %}
                                {% if show.duration %}
                                    <span class="duration">{{ show.duration }} mins</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}            
            {% empty %}
                <p>There are no shows that meet your search criteria.</p>
            {% endfor %}
        </div>

    </div>

{% endblock %}

