{% extends "base.html" %}
{% load static %}

{% block content %}

    <div id="tf-program-venues" class="tf-single-column"">

        <h3>ticketed venues</h3>
        {% for venue in ticketed_venues %}
            {% include 'program/venues_venue.html' %}
        {% endfor %}

        <h3>alt space venues - <small>non-ticketed, pay-what-you-will performances</small></h3>
        {% for venue in nonticketed_venues %}
            {% include 'program/venues_venue.html' %}
        {% endfor %}

        <div class="tf-venue-map">
            <img src="{% static 'VenueMap.png' %}" />
        </div>

    </div>

{% endblock %}

