a {
  color: #1a7cf3; }

p {
  margin-bottom: 3px; }

.table {
  margin-bottom: 10px; }

.alert {
  margin-top: 5px;
  margin-bottom: 5px; }

.panel-heading .panel-title {
  color: #333333; }

body {
  background-color: #fffaee; }

@media (min-width: 992px) {
  #tf-container {
    padding-left: 65px;
    padding-right: 65px; } }

#tf-banner {
  text-align: center; }
  #tf-banner img {
    width: 100%; }

#tf-navigator .navbar {
  background-color: #fd7f02;
  margin-bottom: 3px;
  min-height: 0; }
  #tf-navigator .navbar ul.navbar-nav > li > a {
    color: #fff06d;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px; }
    #tf-navigator .navbar ul.navbar-nav > li > a:hover, #tf-navigator .navbar ul.navbar-nav > li > a:focus, #tf-navigator .navbar ul.navbar-nav > li > a:focus-within {
      color: white;
      background-color: inherit; }

#tf-header .tf-social-media {
  float: right; }
  #tf-header .tf-social-media img {
    width: 35px; }

#tf-header .tf-page-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 40px; }

#tf-content {
  font-size: 14px; }
  @media (max-width: 480px) {
    #tf-content {
      font-size: 11px; } }

.tf-show-name {
  font-size: 16px;
  font-weight: bold;
  color: #1a7cf3; }
  @media (max-width: 480px) {
    .tf-show-name {
      font-size: 14px; } }

.tf-company-name {
  color: #fd7f02;
  font-weight: bold; }
  .tf-company-name a {
    color: #fd7f02; }

.panel-heading .tf-icons {
  float: right; }

.well ul {
  margin-bottom: 0;
  padding-left: 10px; }

form .tf-actions {
  text-align: right; }

.tf-form-actions {
  text-align: right; }

.tf-rows-striped {
  padding-left: 10px;
  padding-right: 10px; }
  .tf-rows-striped > .row {
    padding: 5px;
    border-bottom: 1px solid #eeeeee; }
    .tf-rows-striped > .row:nth-of-type(odd) {
      background-color: #f9f9f9; }

#tf-program-shows .search ul {
  list-style-type: none;
  padding: 0; }
  #tf-program-shows .search ul label {
    font-weight: normal; }

@media (min-width: 992px) {
  #tf-program-shows .results {
    margin-left: 75px;
    margin-right: 75px; } }

#tf-program-shows .results .show {
  margin-bottom: 10px;
  border-bottom: 5px solid #cccccc;
  padding-top: 5px;
  padding-bottom: 10px; }
  #tf-program-shows .results .show .image img {
    width: 100%; }
  #tf-program-shows .results .show .info1 {
    margin-top: 15px;
    color: #1a7cf3; }
    #tf-program-shows .results .show .info1 .venue {
      font-weight: bold;
      margin-right: 5px; }
    #tf-program-shows .results .show .info1 .days {
      margin-right: 5px; }
  @media (min-width: 992px) {
    #tf-program-shows .results .show .info2 {
      font-weight: bold; } }
  #tf-program-shows .results .show .info2 .genres {
    color: #fd7f02;
    margin-right: 5px; }
  #tf-program-shows .results .show .info2 .genre-warnings {
    color: #ff4040;
    margin-right: 5px; }
  #tf-program-shows .results .show .info2 .age-range {
    color: #1a7cf3;
    margin-right: 5px; }
  #tf-program-shows .results .show .info2 .duration {
    color: #fd7f02;
    margin-right: 5px; }

#tf-program-show-detail .image {
  margin-bottom: 10px; }
  #tf-program-show-detail .image img {
    width: 100%; }

#tf-program-show-detail .info1 {
  color: #fd7f02; }
  @media (min-width: 992px) {
    #tf-program-show-detail .info1 {
      font-weight: bold; } }
  #tf-program-show-detail .info1 .genre-warnings {
    color: #ff4040; }

#tf-program-show-detail .info2 {
  margin-top: 10px;
  color: #1a7cf3; }
  #tf-program-show-detail .info2 .venue {
    font-weight: bold; }

#tf-program-show-detail .description img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%; }

#tf-program-show-detail .reviews {
  margin-top: 10px; }
  #tf-program-show-detail .reviews .review .head {
    font-weight: bold; }

#tf-tickets-buy .tf-performance {
  font-weight: bold; }

#tf-tickets-checkout .tf-show-name {
  font-size: 14px;
  font-weight: normal; }

#tf-tickets-checkout .tf-stripe {
  text-align: right; }

#tf-tickets-fringers-rename-form .tf-name {
  width: 150px; }

