{% load crispy_forms_tags %}
{% load tf_filters %}

<div class="row">
    <div class="col-xs-6">
        {% if not refund or refund.completed %}
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title">New Refund</h4></div>
                <div class="panel-body">
                    <p>To start a new refund enter the customer name or e-mail address and click Start.</p>
                    <form id="refund-customer-form" class="form-horizontal">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-xs-12">
                                {{ refund_customer_form.customer | add_css_class:'form-control' }}
                            </div>
                        </div>
                        <div class="tf-form-actions">
                            <button type="submit" class="btn btn-primary">Start</button>
                        </div>
                    </form>
                </div>
            </div>
        {% else %}
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title">Tickets</h4></div>
                <div class="panel-body">
                    <form id="refund-ticket-form" method="post" class="form-horizontal">
                        {% csrf_token %}
                        {% crispy refund_ticket_form %}
                        <div class="form-group">
                            <div class="col-xs-12 tf-form-actions">
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="col-xs-6">
        {% if not refund %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Information</h4>
                </div>
                <div class="panel-body">
                    This area will be used to display notifications from the system administrator.
                </div>
            </div>
        {% else %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        {{ refund.customer }}
                        <i class="fa fa-user-circle {% if refund.customer_user %}registered{% endif %}"></i>
                    </h4>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr>
                            <th>Ticket</th>
                            <th>Show/Performance</th>
                            <th>Type/Cost</th>
                        </tr>
                        {% for ticket in refund.tickets.all %}
                            <tr>
                                <td>
                                    {{ ticket.id }}<br/>
                                    {% if not refund.completed %}
                                        <a href="#" onclick="$('#refund-tab-content').load('{% url "boxoffice:refund_remove_ticket" refund.uuid ticket.uuid %}')">Remove</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ ticket.performance.show.name }}<br/>
                                    {{ ticket.performance.date | date:"D, jS M" }} at {{ ticket.performance.time }}
                                </td>
                                <td>
                                    {{ ticket.description }}<br/>
                                    {% if ticket.cost %}&#163;{{ ticket.cost }}{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td>&#163;{{ refund.total_cost }}</td>
                        </tr>
                    </table>
                    {% if refund.completed %}
                        <div class="row">
                            <div class="col-xs-12 tf-form-actions">
                                <button class="btn btn-primary">E-mail</button>
                                <a class="btn btn-primary" href="{% url 'reports:refund_pdf' refund.uuid %}" target="_blank">PDF</a>
                            </div>
                        </div>
                    {% else %}
                        <form id="sale-extras-form" class="form-horizontal">
                            {% csrf_token %}
                            {% crispy refund_form %}
                            <div class="tf-form-actions">
                                <button type="submit" class="btn btn-primary">Complete</button>
                                <a class="btn btn-primary" href="#" onclick="$('#refund-tab-content').load('{% url "boxoffice:refund_cancel" refund.uuid %}')" formnovalidate>Cancel</a>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</div>

<script language="javascript">
    $(function () {
        {% if not refund %}
            $('#refund-customer-form').submit(function (event) {
                event.preventDefault();
                var postData = $('#refund-customer-form').serializeArray()
                $('#refund-tab-content').load('{% url "boxoffice:refund_start" box_office.uuid %}', postData);
            });
        {% else %}
            $('#refund-ticket-form').submit(function (event) {
                event.preventDefault();
                postData = $('#refund-ticket-form').serializeArray()
                $('#refund-tab-content').load('{% url "boxoffice:refund_add_ticket" refund.uuid %}', postData);
            });
            $('#refund-form').submit(function (event) {
                event.preventDefault();
                postData = $('#refund-form').serializeArray()
                $('#refund-tab-content').load('{% url "boxoffice:refund_complete" refund.uuid %}', postData);
            });
        {% endif %}
    });
</script>