{% load crispy_forms_tags %}
{% load tf_filters %}

<div class="row">
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h4 class="panel-title">Tickets</h4></div>
            <div class="panel-body">
                {% if sale.completed %}
                    <div class="well">
                        You must start a new sale to add tickets.
                    </div>
                {% else %}
                    <form id="sale-tickets-form" class="form-horizontal">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-xs-12">
                                {{ sale_tickets_form.show_id | add_css_class:'form-control' }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                {{ sale_tickets_form.performance_id | add_css_class:'form-control' }}
                            </div>
                        </div>
                        <div class="form_group">
                            {{ sale_ticket_subforms.management_form }}
                            {% for form in sale_ticket_subforms.forms %}
                                <div class="form-group">
                                    <div class="col-xs-6">{{ form.type_id }}<p class="form-control-static">{{ form.name }}{{ form.name.value }}</p></div>
                                    <div class="col-xs-2">{{ form.price }}{% if form.price.value %}<p class="form-control-static">&#163;{{ form.price.value | floatformat }}</p>{% endif %}</div>
                                    <div class="col-xs-4">{{ form.quantity | add_css_class:'form-control' }}</div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="tf-form-actions">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h4 class="panel-title">Extras</h4></div>
            <div class="panel-body">
                {% if sale.completed %}
                    <div class="well">
                        You must start a new sale to add buttons and fringers.
                    </div>
                {% else %}
                    <form id="sale-extras-form" class="form-horizontal">
                        {% csrf_token %}
                        {% crispy sale_extras_form %}
                        <div class="tf-form-actions">
                            <button type="submit" class="btn btn-primary">Add/Update</button>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>

    </div>

    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">{% if sale.completed %}Sale Confirmed{% else %}New Sale{% endif %}</h4>
            </div>
            <div class="panel-body">
                {% if not sale %}
                    <div class="well">
                        <ul>
                            <li>Add items using the panels on the left.</li>
                            <li>When all items have been added enter the customer name and click Complete to confirm the sale.</li>
                            <li>Once the sale is confirmed you can Print or E-mail the receipt.</li>
                        </ul>
                    </div>
                {% else %}
                    {% if sale.completed %}
                        <div class="row">
                            <div class="col-xs-12 tf-form-actions">
                                <button class="btn btn-primary">E-mail</button>
                                <a class="btn btn-primary" href="{% url 'reports:sale_pdf' sale.id %}" target="_blank">PDF</a>
                                <a class="btn btn-primary" href="#" onclick="$('#sale-tab-content').load('{% url "boxoffice:sale_new" %}')">New Sale</a>
                            </div>
                        </div>
                    {% else %}
                        <form id="sale-form" class="form-horizontal">
                            {% csrf_token %}
                            {% crispy sale_form %}
                            <div class="row form-group">
                                <div class="col-xs-12 tf-form-actions">
                                    <button type="submit" class="btn btn-primary">Complete</button>
                                    <a class="btn btn-primary" href="#" onclick="$('#sale-tab-content').load('{% url "boxoffice:sale_cancel" %}')">Cancel</a>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                    {% if sale.buttons %}
                        <div class="row">
                            <div class="col-xs-9"><strong>{{ sale.buttons }} x Buttons</strong></div>
                            <div class="col-xs-3 text-right">&#163;{{ sale.button_cost }}</div>
                        </div>
                    {% endif %}
                    {% for fringer in sale.fringers.all %}
                        <div class="row">
                            <div class="col-xs-9"><strong>eFringer Voucher: {{ fringer.description }}</strong></div>
                            <div class="col-xs-3 text-right">&#163;{{ fringer.cost }}</div>
                        </div>
                    {% endfor %}
                    {% for performance in sale.performances %}
                        <div class="row">
                            <div class="col-xs-9"><strong>{{ performance.show }}</strong></div>
                            <div class="col-xs-3 text-right">&#163;{{ performance.ticket_cost }}</div>
                            <div class="col-xs-6">{{ performance.date | date:"D, jS M" }} at {{ performance.time }}</div>
                            <div class="col-xs-3"><a href="#tf-boxoffice-sale-tickets-{{ forloop.counter }}" data-toggle="collapse">{{ performance.tickets | length }} Tickets</a></div>
                            <div class="col-xs-3 text-right"><a href="#" onclick="$('#sale-tab-content').load('{% url "boxoffice:sale_remove_performance" performance.id %}')">Remove</a></div>
                            <div id="tf-boxoffice-sale-tickets-{{ forloop.counter }}" class="col-xs-12 collapse">
                                {% for ticket in performance.tickets %}
                                    <div class="row">
                                        <div class="col-xs-1"></div>
                                        <div class="col-xs-3">{{ ticket.description }}</div>
                                        <div class="col-xs-2 text-right">{% if ticket.cost %}&#163;{{ ticket.cost }}{% endif %}</div>
                                        <div class="col-xs-3"><a href="#" onclick="$('#sale-tab-content').load('{% url "boxoffice:sale_remove_ticket" ticket.id %}')">Remove</a></div>
                                        <div class="col-xs-3"></div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-xs-9"><strong>Total</strong></div>
                        <div class="col-xs-3 text-right">{% if sale %}&#163;{{ sale.total_cost }}{% endif %}</div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script language="javascript">

    function onSaleTicketsShowChange() {
        var show_id = $(this).val();
        $('#{{ sale_tickets_form.performance_id.auto_id }}').load('{% url 'boxoffice:sale_show_performances' 0 %}'.replace('/0', '/' + show_id));
    }

    $( function() {
        $('#{{ sale_tickets_form.show_id.auto_id }}').on('change', onSaleTicketsShowChange );
        $('#sale-tickets-form').submit(function (event) {
            event.preventDefault();
            var postData = $('#sale-tickets-form').serializeArray()
            $('#sale-tab-content').load('{% url "boxoffice:sale_add_tickets" %}', postData);
        });
        $('#sale-extras-form').submit(function (event) {
            event.preventDefault();
            var postData = $('#sale-extras-form').serializeArray()
            $('#sale-tab-content').load('{% url "boxoffice:sale_update_extras" %}', postData);
        });
        $('#sale-form').submit(function (event) {
            event.preventDefault();
            var postData = $('#sale-form').serializeArray()
            $('#sale-tab-content').load('{% url "boxoffice:sale_complete" %}', postData);
        });
    });

</script>