{% load crispy_forms_tags %}
{% load tf_filters %}

<div class="row">
    <div class="col-xs-6">
        {% if not sale or sale.completed %}
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title">New Sale</h4></div>
                <div class="panel-body">
                    <p>To start a new sale enter the customer name or e-mail address and click Start.</p>
                    <p><strong>Important:</strong> if the customer wants to purchase tickets using an eFringer you must enter the e-mail address of the account used to purchase the eFringer.</p>
                    <form id="sale-customer-form" class="form-horizontal">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-xs-12">
                                {{ sale_customer_form.customer | add_css_class:'form-control' }}
                            </div>
                        </div>
                        <div class="tf-form-actions">
                            <button type="submit" class="btn btn-primary">Start</button>
                        </div>
                    </form>
                </div>
            </div>
        {% else %}
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title">Tickets</h4></div>
                <div class="panel-body">
                    <form id="sale-tickets-form" class="form-horizontal">
                        {% csrf_token %}
                        <div class="form-group {% if sale_tickets_form.show.errors %}has-error{% endif %}">
                            <div class="col-xs-12">
                                {{ sale_tickets_form.show | add_css_class:'form-control' }}
                                {% for error in sale_tickets_form.show.errors %}
                                    <p class="help-block">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group {% if sale_tickets_form.performance.errors %}has-error{% endif %}">
                            <div class="col-xs-12">
                                {{ sale_tickets_form.performance | add_css_class:'form-control' }}
                                {% for error in sale_tickets_form.performance.errors %}
                                    <p class="help-block">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>
                        {{ sale_ticket_subforms.management_form }}
                        {% for form in sale_ticket_subforms.forms %}
                            <div class="form-group">
                                <div class="col-xs-6">{{ form.type_id }}<p class="form-control-static">{{ form.name }}{{ form.name.value }}</p></div>
                                <div class="col-xs-2">{{ form.price }}{% if form.price.value %}<p class="form-control-static">&#163;{{ form.price.value | floatformat }}</p>{% endif %}</div>
                                <div class="col-xs-4">{{ form.quantity | add_css_class:'form-control' }}</div>
                            </div>
                        {% endfor %}
                        {{ sale_fringer_subforms.management_form }}
                        {% for form in sale_fringer_subforms.forms %}
                            <div {% if form.errors %}class="has-error"{% endif %}>
                                {{ form.fringer_id }}{{ form.name }}
                                <div class="checkbox">
                                    <label>
                                        {{ form.buy }}
                                        eFringer: {{ form.name.value }}
                                    </label>
                                </div>
                                {% for error in form.buy.errors %}
                                    <p class="help-block">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <div class="tf-form-actions">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title">Extras</h4></div>
                <div class="panel-body">
                    <form id="sale-extras-form" class="form-horizontal">
                        {% csrf_token %}
                        {% crispy sale_extras_form %}
                        <div class="tf-form-actions">
                            <button type="submit" class="btn btn-primary">Add/Update</button>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="col-xs-6">
        {% if not sale %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Information</h4>
                </div>
                <div class="panel-body">
                    This area will be used to display notifications from the system administrator.
                </div>
            </div>
        {% else %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        {{ sale.customer }}
                        <i class="fa fa-user-circle {% if sale.customer_user %}registered{% endif %}"></i>
                    </h4>
                </div>
                <div class="panel-body">
                    {% if sale.buttons %}
                        <div class="row form-group">
                            <div class="col-xs-9"><strong>{{ sale.buttons }} x Buttons</strong></div>
                            <div class="col-xs-3 text-right">&#163;{{ sale.button_cost }}</div>
                        </div>
                    {% endif %}
                    {% for fringer in sale.fringers.all %}
                        <div class="row form-group">
                            <div class="col-xs-9"><strong>Frequent Fringers: {{ fringer.description }}</strong></div>
                            <div class="col-xs-3 text-right">&#163;{{ fringer.cost }}</div>
                        </div>
                    {% endfor %}
                    {% for performance in sale.performances %}
                        <div class="row form-group">
                            <div class="col-xs-9"><strong>{{ performance.show }}</strong></div>
                            <div class="col-xs-3 text-right">&#163;{{ performance.ticket_cost }}</div>
                            <div class="col-xs-6">{{ performance.date | date:"D, jS M" }} at {{ performance.time }}</div>
                            <div class="col-xs-3"><a href="#tf-boxoffice-sale-tickets-{{ forloop.counter }}" data-toggle="collapse">{{ performance.tickets | length }} Tickets</a></div>
                            <div class="col-xs-3 text-right">
                                {% if not sale.completed %}
                                    <a href="#" onclick="$('#sale-tab-content').load('{% url "boxoffice:sale_remove_performance" sale.uuid performance.uuid %}')">Remove</a>
                                {% endif %}
                            </div>
                            <div id="tf-boxoffice-sale-tickets-{{ forloop.counter }}" class="col-xs-12 collapse">
                                {% for ticket in performance.tickets %}
                                    <div class="row">
                                        <div class="col-xs-1"></div>
                                        <div class="col-xs-3">{{ ticket.description }}</div>
                                        <div class="col-xs-2 text-right">{% if ticket.cost %}&#163;{{ ticket.cost }}{% endif %}</div>
                                        <div class="col-xs-3">
                                            {% if not sale.completed %}
                                                <a href="#" onclick="$('#sale-tab-content').load('{% url "boxoffice:sale_remove_ticket" sale.uuid ticket.uuid %}')">Remove</a>
                                            {% endif %}
                                        </div>
                                        <div class="col-xs-3"></div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="row form-group">
                        <div class="col-xs-9"><strong>Total</strong></div>
                        <div class="col-xs-3 text-right">{% if sale %}&#163;{{ sale.total_cost }}{% endif %}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 tf-form-actions">
                            {% if sale.completed %}
                                <button class="btn btn-primary">E-mail</button>
                                <a class="btn btn-primary" href="{% url 'reports:sale_pdf' sale.uuid %}" target="_blank">PDF</a>
                            {% else %}
                                <a class="btn btn-primary" href="#" onclick="$('#sale-tab-content').load('{% url "boxoffice:sale_complete" sale.uuid %}')">Complete</a>
                                <a class="btn btn-primary" href="#" onclick="$('#sale-tab-content').load('{% url "boxoffice:sale_cancel" sale.uuid %}')">Cancel</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>

<script language="javascript">

    $( function() {
        {% if not sale or sale.completed %}
            $('#sale-customer-form').submit(function (event) {
                event.preventDefault();
                var postData = $('#sale-customer-form').serializeArray()
                $('#sale-tab-content').load('{% url "boxoffice:sale_start" box_office.uuid %}', postData);
            });
        {% else %}
            $('#{{ sale_tickets_form.show.auto_id }}').on('change', function() {
                $('#{{ sale_tickets_form.performance.auto_id }}').load('{% url 'boxoffice:sale_show_performances' sale.uuid '-UUID-' %}'.replace('-UUID-', $(this).val()));
            });
            $('#sale-tickets-form').submit(function (event) {
                event.preventDefault();
                var postData = $('#sale-tickets-form').serializeArray()
                $('#sale-tab-content').load('{% url "boxoffice:sale_add_tickets" sale.uuid %}', postData);
            });
            $('#sale-extras-form').submit(function (event) {
                event.preventDefault();
                var postData = $('#sale-extras-form').serializeArray()
                $('#sale-tab-content').load('{% url "boxoffice:sale_update_extras" sale.uuid %}', postData);
            });
        {% endif %}
    });

</script>