{% extends "base.html" %}
{% load tf_filters %}

{% block content %}

    <h2>Box Office: {{ boxoffice.name }}</h2>

    <div class="row">

        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">Sell Tickets</div>
                <div class="panel-body">
                    <form action="/boxoffice/tickets" method="post">
                        <div class="form-group">
                            {{ form.show.label_tag }}
                            {{ form.show | add_css_class:'form-control' }}
                        </div>
                        <div class="form-group">
                            {{ form.performance_id.label_tag }}
                            {{ form.performance_id }}
                            <select id="{{ form.performance_id.auto_id }}_select" class="form-control">
                            </select>
                        </div>
                        <div class="form_group">
                            Capacity: <span id="tickets_capacity"></span><br/>
                            Sold: <span id="tickets_sold"></span><br/>
                            Available: <span id="tickets_available"></span><br/>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">Front of House</div>
                <div class="panel-body">
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascript %}

    <script language="javascript">

        $( function() {
            $('#{{ form.show.auto_id }}').on('change', onShowChange );
            $('#{{ form.performance_id.auto_id }}_select').on('change', onPerformanceChange );
        });

        function onShowChange() {
            var show_id = $(this).val();
            $.ajax({
                url: '/boxoffice/api/get_performances',
                data: { 'show_id': show_id },
                dataType: 'json',
                success: function(response) {
                    var select = $('#{{ form.performance_id.auto_id }}_select');
                    select.empty();
                    select.append($("<option></option>").attr("value", 0).text("-- Select performnce --"));
                    $.each(response.performances, function(n, performance) {
                        select.append($("<option></option>").attr("value", performance.id).text(moment(performance.date, 'yyyy-MM-DD').format('ddd, MMM Do') + ' at ' + moment(performance.time, 'hh:mm:ss').format('hh:mma')));
                    });
                }
            });
        }

        function onPerformanceChange() {
            $("#tickets_capacity").text("");
            $("#tickets_sold").text("");
            $("#tickets_available").text("");
            var performance_id = $(this).val();
            if (performance_id > 0) {
                $.ajax({
                    url: '/boxoffice/api/get_ticket_info',
                    data: { 'performance_id': performance_id },
                    dataType: 'json',
                    success: function(response) {
                        $("#tickets_capacity").text(response.capacity);
                        $("#tickets_sold").text(response.sold);
                        $("#tickets_available").text(response.available);
                    }
                });
            }
        }

    </script>

{% endblock %}
