{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block pagetitle %}Login{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title">Already Registered</h4></div>
                <div class="panel-body">
                    {% crispy form form_helper %}
                    <div class="tf-actions"><p><a href="{% url 'accounts:auth_password_reset' %}">Forgotten password?</a></p></div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title">First Time User</h4></div>
                <div class="panel-body">
                    <p>You need to register before you can buy tickets or eFringers on this site.</p>
                    <div class="tf-actions"><a class="btn btn-primary" href="{% url 'accounts:registration_register' %}">Register</a></div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
