{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block pagetitle %}Reset Password{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title">Forgotten Password</h4></div>
                <div class="panel-body">
                    <p>Enter your email in the form below and we'll send you instructions for creating a new one.</p>
                    {% crispy form form_helper %}
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title">Information</h4></div>
                <div class="panel-body">
                    A message will be sent to your registered e-mail address that includes a link to allow you to choose a new password.
                    This link must be used within 30 minutes; if you do not receive the e-mail, or do not use it before it expires, you can request another reset.
                </div>
            </div>
        </div>

    </div>

{% endblock %}
