{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block pagetitle %}Register{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title">New User</h4></div>
                <div class="panel-body">
                    {% crispy form form_helper %}
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title">Information</h4></div>
                <div class="panel-body">
                    <p>Registering on this site will allow you to buy tickets and eFringer Vouchers using your credit card.</p>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
