{% extends "base.html" %}
{% load tf_filters %}
{% load crispy_forms_tags %}

{% block pagetitle %}buy tickets{% endblock %}

{% block content %}

    <div id="tf-tickets-buy">

        <p><a class="tf-show-name" href="{% url 'program:show_detail' performance.show.id %}">{{ performance.show.name }}</a></p>
        <p class="tf-performance">{{ performance.date|date:'D, j M' }} at {{ performance.time|time:'P' }}</p>
        <p>Tickets available: {{ performance.tickets_available }}</p>

        {% if performance.tickets_available %}

            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active"><a href="#tf-credit-card-tab" data-toggle="tab">Credit Card</a></li>
                        <li><a href="#tf-fringer-tab" data-toggle="tab">eFringers</a></li>
                        <li><a href="#tf-faqs-tab" data-toggle="tab">FAQs</a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-content">
                <div id="tf-credit-card-tab" class="tab-pane active">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading"><h4 class="panel-title">Buy Tickets</h4></div>
                                <div class="panel-body">
                                    {% if sales_open %}
                                        <form class="form-inline" method="post">
                                            {% csrf_token %}
                                            {{ ticket_formset.management_form }}
                                            <table class="table table-striped">
                                                {% for form in ticket_formset.forms %}
                                                    <tr>
                                                        <td>{{ form.id }}<p class="form-control-static">{{ form.name.value }}</p></td>
                                                        <td><p class="form-control-static">&#163;{{ form.price.value|floatformat }}</p></td>
                                                        <td>{{ form.quantity|add_css_class:'form-control' }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                            <div class="tf-actions">
                                                <button type="submit" class="btn btn-primary" name="action" value="BuyTickets">Add to Basket</button>
                                            </div>
                                        </form>
                                    {% else %}
                                        Tickets will be on sale from Friday, June 1st.
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="well">
                                <ul>
                                    <li>Tickets are added to your basket but are not confirmed until they have been paid for at the checkout.</li>
                                    <li>A booking fee of 1.4% plus 20p will be added to your total when you checkout.</li>
                                    <li>You can add tickets for multiple performances and pay for them all together to minimise the total booking fee.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tf-fringer-tab" class="tab-pane">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading"><h4 class="panel-title">Use eFringer Credits</h4></div>
                                <div class="panel-body">
                                    {% if fringers %}
                                        <form method="post">
                                            {% csrf_token %}
                                            <p><i>eFringer Vouchers that have already been used for this performance are not shown below because each eFringer Voucher can only be used to buy one ticket per performance.</i></p>
                                            <table class="table table-striped">
                                                {% for fringer in fringers %}
                                                    <tr>
                                                        <td><input type="checkbox" name="fringer_id" value="{{ fringer.id }}" /></td>
                                                        <td style="width: 100%">{{ fringer.name }} ({{ fringer.available }} credits remaining)</td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                            <div class="tf-actions">
                                                <button type="submit" class="btn btn-primary" name="action" value="UseFringers">Confirm</button>
                                            </div>
                                        </form>
                                    {% else %}
                                        <p>You do not have any eFringer credits available for this performance.</p>
                                        <p><i>eFringer Vouchers that have already been used for this performance are not shown because each eFringer Voucher can only be used to buy one ticket per performance.</i></p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading"><h4 class="panel-title">Buy eFringer Vouchers</h4></div>
                                <div class="panel-body">
                                    {% if sales_open %}
                                        <form class="form-horizontal" method="POST">
                                            {% crispy buy_fringer_form %}
                                            <div class="tf-actions">
                                                <button type="submit" class="btn btn-primary" name="action" value="BuyFringers">Add to Basket</button>
                                            </div>
                                        </form>
                                    {% else %}
                                        eFringers Vouchers will be on sale from Friday, June 1st.
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="well">
                                <ul>
                                    <li>Buy an eFringer Voucher and use it to buy tickets for 6 different performances at a reduced price.</li>
                                    <li>Each eFringer Voucher can only be used to purchase one ticket per performance.</li>
                                    <li>An eFringer Voucher cannot be used to buy tickets until it has been paid for at the checkout.</li>
                                    <li>If you have more than one eFringer Voucher you can give each one a name to make them easier to keep track of.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                {% include 'tickets/faqs.html' %}

            </div>

        {% else %}

            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Sold Out</div>
                        <div class="panel-body">
                            <p>There are no more tickets available for this show.</p>
                        </div>
                    </div>
                </div>
            </div>
            
        {% endif %}

    </div>

{% endblock %}