{% extends "base.html" %}

{% block basket %}{% endblock %}

{% block content %}

    <div class="panel panel-default">

        <div class="panel-heading">Checkout</div>

        <div class="panel-body">

            <div class="row">

                <div class="col-xs-12 col-md-6">

                    <form method="POST">

                        {% csrf_token %}

                        {% if basket.has_tickets %}
                            <h4>Tickets</h4>
                            <table class="table table-striped">
                                {% for ticket in basket.tickets.all %}
                                    <tr>
                                        <td>
                                            {{ ticket.performance.date|date:'D, j M' }} at {{ ticket.performance.time|date:'H:i' }}
                                            <br/>{{ ticket.performance.show.name }}
                                        </td>
                                        <td>
                                            {{ ticket.description }}
                                            <br/>&#163;{{ ticket.cost }}
                                        </td>
                                        <td><a class="btn btn-default" href="{% url 'tickets:remove_ticket' ticket.id %}">Remove</a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}

                        {% if basket.has_fringers %}
                            <h4>Fringers</h4>
                            <table class="table table-striped">
                                {% for fringer in basket.fringers.all %}
                                    <tr>
                                        <td>{{ fringer.description }}:{{ fringer.name }}</td>
                                        <td>&#163;{{ fringer.cost }}</td>
                                        <td><a class="btn btn-default" href="{% url 'tickets:remove_fringer' fringer.id %}">Remove</a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}

                        {% if not basket.is_empty %}
                            <h4>Summary</h4>
                            <table class="table">
                                <tr>
                                    <td>Tickets</td>
                                    <td>&#163;{{ basket.ticket_cost }}</td>
                                </tr>
                                <tr>
                                    <td>Fringers</td>
                                    <td>&#163;{{ basket.fringer_cost }}</td>
                                </tr>
                                <tr>
                                    <td>Booking fee</td>
                                    <td>&#163;{{ basket.stripe_fee }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Total</strong></td>
                                    <td><strong>&#163;{{ basket.stripe_charge }}</strong></td>
                                </tr>
                            </table>
                            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="{{ stripe_key }}"
                                data-email="{{ basket.user.email }}"
                                data-allow-remember-me="false"
                                data-amount="{{ basket.stripe_charge_pence }}"
                                data-name="Theatrefest"
                                data-description="Buy tickets"
                                data-image=""
                                data-currency="GBP">
                            </script>
                        {% else %}
                            <p>Your basket is empty.</p>
                        {% endif %}


                    </form>

                </div>

                <div class="col-xs-12 col-sm-6">
                    <div class="well">
                        <h4>Information</h4>
                        <p>Information on checkout procedure.</p>
                    </div>
                </div>

            </div>

        </div>

    </div>

{% endblock %}