{% extends "base.html" %}

{% block basket %}{% endblock %}

{% block content %}

    <div class="panel panel-default">

        <div class="panel-heading">Checkout</div>

        <div class="panel-body">

            <div class="row">

                <div class="col-xs-12 col-md-6">

                    <form method="POST">

                        {% csrf_token %}

                        {% if basket.has_tickets %}
                            <h4>Tickets</h4>
                            <table class="table table-striped">
                                {% for ticket in basket.tickets.all %}
                                    <tr>
                                        <td>
                                            {{ ticket.performance.date_time|date:'D, j M' }} at {{ ticket.performance.date_time|date:'H:i' }}
                                            <br/>{{ ticket.performance.show.name }}
                                        </td>
                                        <td>
                                            {{ ticket.description }}
                                            <br/>&#163;{{ ticket.cost }}
                                        </td>
                                        <td><a class="btn btn-default" href="{% url 'tickets:remove_ticket' ticket.id %}">Remove</a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}

                        {% if basket.has_fringers %}
                            <h4>Fringers</h4>
                            <table class="table table-striped">
                                {% for fringer in basket.fringers.all %}
                                    <tr>
                                        <td>{{ fringer.description }}:{{ fringer.name }}</td>
                                        <td>&#163;{{ fringer.cost }}</td>
                                        <td><a class="btn btn-default" href="{% url 'tickets:remove_fringer' fringer.id %}">Remove</a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}

                        {% if not basket.is_empty %}
                            <button class="btn btn-primary" type="submit">Purchase</button>
                        {% else %}
                            <p>Your basket is empty.</p>
                        {% endif %}

                    </form>

                </div>

                <div class="col-xs-12 col-sm-6">
                    <div class="well">
                        <h4>Information</h4>
                        <p>Information on checkout procedure.</p>
                    </div>
                </div>

            </div>

        </div>

    </div>

{% endblock %}