{% load tf_filters %}

<div id="tf-faqs-tab" class="tab-pane">
    <div class="row">
        <div class="col-xs-12">
            <div id="tf-faq-accordion" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4 class="panel-title"><a href="#tf-faq-when" data-toggle="collapse" data-parent="#tf-faq-accordion">When can I buy tickets?</a></h4></div>
                    <div id="tf-faq-when" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                You can buy tickets online until 30 minutes before the performance starts.
                                After that time you can only buy tickets at the venue.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><h4 class="panel-title"><a href="#tf-faq-pay" data-toggle="collapse" data-parent="#tf-faq-accordion">How can I pay for tickets?</a></h4></div>
                    <div id="tf-faq-pay" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                Tickets bought online must be paid for using a credit card and all transactions are subject to a booking fee of 1.4% plus 20p.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><h4 class="panel-title"><a href="#tf-faq-concessions" data-toggle="collapse" data-parent="#tf-faq-accordion">Who qualifies for concession tickets?</a></h4></div>
                    <div id="tf-faq-concessions" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                16 or under, students, over 60, unemployed or disabled.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><h4 class="panel-title"><a href="#tf-faq-fringer" data-toggle="collapse" data-parent="#tf-faq-accordion">What are eFringers and how do they work?</a></h4></div>
                    <div id="tf-faq-fringer" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                An eFringer Voucher can be used to buy tickets for 6 different performances at a discounted price.
                            </p>
                            <ul>
                                <li>eFringer Vouchers can only be bought and redeemed online (you cannot use an eFringer Voucher to buy a ticket at a box office).</li>
                                <li>Each eFringer Voucher can only be used to buy one ticket per performance.</li>
                                <li>Select Tickets and Fringers in "my account" to manage your eFringer Vouchers.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><h4 class="panel-title"><a href="#tf-faq-tickets" data-toggle="collapse" data-parent="#tf-faq-accordion">How will I get my tickets once I have bought them?</a></h4></div>
                    <div id="tf-faq-tickets" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                You will receive an e-mail containing details of all tickets bought online.
                                You can print this e-mail and take it to the venue or simply display the e-mail on a mobile device.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><h4 class="panel-title"><a href="#tf-faq-cancel" data-toggle="collapse" data-parent="#tf-faq-accordion">Can I cancel tickets?</a></h4></div>
                    <div id="tf-faq-cancel" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                Tickets bought using a credit card cannot be cancelled.
                            </p>
                            <p>
                                Tickets bought using an eFringer Voucher can be cancelled until 30 minutes before the performance begins.
                                Select Tickets and Fringers in "my account" to manage your tickets.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
