{% extends "base.html" %}
{% load crispy_forms_tags tf_filters %}

{% block content %}

    {% if not basket.is_empty %}
        {% include 'tickets/_basket.html' %}
    {% endif %}

    <div class="row">

        {% if formset.forms %}
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">My Fringers</div>
                    <div class="panel-body">
                        <form class="form-inline" method="POST">
                            {% csrf_token %}
                            {{ formset.management_form }}
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Unused</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for form in formset %}
                                        <tr>
                                            <td>{{ form.id }}{{ form.name|add_css_class:'form-control' }}</td>
                                            <td>{{ form.instance.unused }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <input type="submit" class="btn btn-primary" name="action" value="Rename" />
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}

        
        <div class="{% if formset.forms %}col-xs-12 col-sm-6{% else %}col-xs 12 col-sm-offset-3 col-sm-6{% endif %}">
            <div class="panel panel-default">
                <div class="panel-heading">Buy Fringers</div>
                <div class="panel-body">
                    {% crispy buy_form %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}