{% extends "base.html" %}
{% load crispy_forms_tags tf_filters %}

{% block content %}

    <div class="row">

        <div class="col-xs-12 col-sm-6">

            <div class="panel panel-default">
                <div class="panel-heading">My Fringers</div>
                <div class="panel-body">
                    {% if formset.forms %}
                        <form class="form-inline" method="POST">
                            {% csrf_token %}
                            {{ formset.management_form }}
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Unused</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for form in formset %}
                                        <tr>
                                            <td>{{ form.id }}{{ form.name|add_css_class:'form-control' }}</td>
                                            <td>{{ form.instance.unused }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <input type="submit" class="btn btn-primary" name="action" value="Rename" />
                        </form>
                    {% else %}
                        <p>You do not have any fringers.</p>
                    {% endif %}
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Buy Fringers</div>
                <div class="panel-body">
                    {% crispy buy_form %}
                </div>
            </div>

        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="well">
                <h4>Information</h4>
                <ul>
                    <li>Fringers can be used to purchase tickets for shows at a reduced price either online (up to 1 hour before a performance starts) or at a box office.</li>
                    <li>Each fringer can only be used to purchase one ticket for each performance.</li>
                    <li>If you buy more than one fringer you should give each of them a name to make them easier to keep track of.</li>
                    <li>No refunds are available for unused fringers.</li>
                </ul>
            </div>
        </div>

    </div>

{% endblock %}