{% extends "base.html" %}
{% load crispy_forms_tags tf_filters %}

{% block pagetitle %}my account{% endblock %}

{% block content %}
    <div id="tf-tickets-myaccount">

        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs nav-justified">
                    <li {% if tab == 'tickets' %}class="active"{% endif %}><a href="#tf-tickets-tab" data-toggle="tab">Tickets</a></li>
                    <li {% if tab == 'fringers' %}class="active"{% endif %}><a href="#tf-fringers-tab" data-toggle="tab">eFringers</a></li>
                    <li><a href="#tf-faqs-tab" data-toggle="tab">FAQs</a></li>
                </ul>
            </div>
        </div>

        <div class="tab-content">

            <div id="tf-tickets-tab" class="tab-pane {% if tab == 'tickets' %}active{% endif %}">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">Current and Future Performances</h4></div>
                            <div class="panel-body">
                                {% if performances_current %}
                                    {% for performance in performances_current %}
                                        <div class="row">
                                            <div class="col-xs-12"><strong>{{ performance.show }}</strong></div>
                                            <div class="col-xs-6">{{ performance.date | date:"D, jS M" }} at {{ performance.time }}</div>
                                            <div class="col-xs-3"><a href="#tf-tickets-show-current-tickets-{{ forloop.counter }}" data-toggle="collapse">{{ performance.tickets | length }} Tickets</a></div>
                                            <div class="col-xs-3 text-right"><a href="{% url 'tickets:print_performance' performance.id %}">Print</a></div>
                                            <div id="tf-tickets-show-current-tickets-{{ forloop.counter }}" class="col-xs-12 collapse">
                                                {% for ticket in performance.tickets %}
                                                    <div class="row">
                                                        <div class="col-xs-1"></div>
                                                        <div class="col-xs-3">{{ ticket.description }}</div>
                                                        <div class="col-xs-2 text-right">{% if ticket.fringer_name %}{{ ticket.fringer_name }}{% else %}&#163;{{ ticket.cost }}{% endif %}</div>
                                                        <div class="col-xs-3">{% if ticket.fringer_name %}<a href="{% url 'tickets:cancel_ticket' ticket.id %}">Cancel</a>{% endif %}</div>
                                                        <div class="col-xs-3"></div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    You do not have tickets for current and future performances.
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">Past Performances</h4></div>
                            <div class="panel-body">
                                {% if performances_past %}
                                    <div class="row">
                                        <div class="col-xs-12"><strong>The following tickets are for peformances that have already taken place.</strong></div>
                                    </div>
                                    {% for performance in performances_past %}
                                        <div class="row">
                                            <div class="col-xs-12"><strong>{{ performance.show }}</strong></div>
                                            <div class="col-xs-6">{{ performance.date | date:"D, jS M" }} at {{ performance.time }}</div>
                                            <div class="col-xs-3"><a href="#tf-tickets-show-past-tickets-{{ forloop.counter }}" data-toggle="collapse">{{ performance.tickets | length }} Tickets</a></div>
                                            <div class="col-xs-3"></div>
                                            <div id="tf-tickets-show-past-tickets-{{ forloop.counter }}" class="col-xs-12 collapse">
                                                {% for ticket in performance.tickets %}
                                                    <div class="row">
                                                        <div class="col-xs-1"></div>
                                                        <div class="col-xs-3">{{ ticket.description }}</div>
                                                        <div class="col-xs-2 text-right">{% if ticket.fringer_name %}{{ ticket.fringer_name }}{% else %}&#163;{{ ticket.cost }}{% endif %}</div>
                                                        <div class="col-xs-6"></div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    You do not have tickets for past performances.
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="tf-fringers-tab" class="tab-pane {% if tab == 'fringers' %}active{% endif %}">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">Manage eFringer Vouchers</h4></div>
                            <div class="panel-body">
                                {% if formset.forms %}
                                    <form id="tf-tickets-fringers-rename-form" class="form-inline" method="POST">
                                        {% csrf_token %}
                                        {{ formset.management_form }}
                                        <table class="table table-striped">
                                            {% for form in formset %}
                                                <tr><td class="form-group {% if form.name.errors %}has-error{% endif %}">
                                                    <div class="col-xs-7">{{ form.id }} {{ form.name | add_css_class:'form-control tf-name' }}</div>
                                                    <div class="col-xs-4"><p class="form-control-static">{{ form.instance.available }} available</p></div>
                                                    <div class="col-xs-1">
                                                        {% if form.instance.used %}
                                                            <a class="form-control-static" data-toggle="collapse" href="#tf-tickets-fringers-list-{{ form.id.value }}"><i class="fa fa-info-circle"></i></a>
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-xs-12">{% for error in form.name.errors %}<p class="help-block">{{ error }}</p>{% endfor %}</div>
                                                    <div class="col-xs-12">
                                                        <div id="tf-tickets-fringers-list-{{ form.id.value }}" class="collapse">
                                                            {% for ticket in form.instance.tickets.all %}
                                                                <div>
                                                                    {{ ticket.performance.show.name }}<br/>
                                                                    {{ ticket.performance.date|date:'D, j M' }} at {{ ticket.performance.time|date:'H:i' }}
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </td></tr>
                                            {% endfor %}
                                        </table>
                                        <div class="tf-actions">
                                            <button type="submit" class="btn btn-primary" name="action" value="Rename">Rename</button>
                                        </div>
                                    </form>
                                {% else %}
                                    <p>You do not have any eFringer Vouchers.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">Buy eFringer Vouchers</h4></div>
                            <div class="panel-body">
                                {% if sales_open %}
                                    <form class="form-horizontal" method="POST">
                                        {% crispy buy_form %}
                                        <div class="tf-actions">
                                            <button type="submit" class="btn btn-primary" name="action" value="Add">Add to Basket</button>
                                        </div>
                                    </form>
                                {% else %}
                                    eFringers Vouchers will be on sale from Friday, June 1st.
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'tickets/faqs.html' %}

        </div>

    </div>

{% endblock %}