{% extends "base.html" %}

{% block pagetitle %}
    My Tickets
{% endblock %}

{% block content %}
    <div id="tf-tickets-show">

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="tf-icons"><a data-toggle="collapse" href="#tf-tickets-show-current-help"><i class="fa fa-info-circle"></i></a></div>
                <a data-toggle="collapse" href="#tf-tickets-show-current"><h4 class="panel-title">Current Tickets</h4></a>
            </div>
            <div id="tf-tickets-show-current" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div id="tf-tickets-show-current-help" class="well collapse">
                        <ul>
                            <li>Tickets purchased with an eFringer can be cancelled up to one hour before the performance starts.</li>
                            <li>Tickets purchased with a credit card cannot be cancelled.</li>
                        </ul>
                    </div>
                    {% if tickets_current %}
                        <div class="tf-rows-striped">
                            {% for ticket in tickets_current %}
                                <div class="row">
                                    <div class="col-xs-12 col-sm-9">
                                        <div class="row">
                                            <div class="col-xs-12">{{ ticket.performance.show.name }}</div>
                                            <div class="col-xs-12 col-sm-6">{{ ticket.performance.date|date:'D, j M' }} at {{ ticket.performance.time|date:'H:i' }}</div>
                                            <div class="col-xs-12 col-sm-6">
                                                {% if ticket.fringer %}
                                                    eFringer ({{ticket.fringer.name }})
                                                {% else %}
                                                    {{ ticket.description }}
                                                    &#163;{{ ticket.cost }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-3" style="text-align: right;">
                                        {% if ticket.fringer %}
                                            <a class="btn btn-primary" href="{% url 'tickets:cancel_ticket' ticket.id %}">Cancel</a>
                                        {% endif %}
                                        <a class="btn btn-primary" href="{% url 'tickets:print_ticket' ticket.id %}">Print</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        You do not have any current tickets.
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" href="#tf-tickets-show-past"><h4 class="panel-title">Past Tickets</h4></a>
            </div>
            <div id="tf-tickets-show-Past" class="panel-collapse collapse in">
                <div class="panel-body">
                    {% if tickets_past %}
                        <div class="tf-rows-striped">
                            {% for ticket in tickets_past %}
                                <div class="row">
                                    <div class="col-xs-12">{{ ticket.performance.show.name }}</div>
                                    <div class="col-xs-12 col-sm-6">{{ ticket.performance.date|date:'D, j M' }} at {{ ticket.performance.time|date:'H:i' }}</div>
                                    <div class="col-xs-12 col-sm-6">
                                        {% if ticket.fringer %}
                                            eFringer ({{ticket.fringer.name }})
                                        {% else %}
                                            {{ ticket.description }}
                                            &#163;{{ ticket.cost }}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        You do not have any past tickets.
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}