{% load static %}
{% load tf_filters %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>{% block title %}TheatreFest{% endblock %}</title>
    <script src="{% static 'jquery/jquery-3.2.1.min.js' %}" ></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" ></script>
</head>

<body>

    <div id="tf-container" class="container">

        <div id="tf-header" class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <img src="{% static 'bridge.png' %}" /> 
            </div>
        </div>

        <div id="tf_navigator">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tf-navbar-collapse-1">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">TheatreFest</a>
                </div>
                <div id="tf-navbar-collapse-1" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="{% if 'catalog:home' == request.resolver_match.url_name %}active{% endif %}"><a href="{% url 'catalog:home' %}">Home</a></li>
                        <li class="{% if 'catalog:show' in request.resolver_match.url_name %}active{% endif %}"><a href="{% url 'catalog:shows' %}">Shows</a></li>
                        <li><a href="#">Times</a></li>
                        <li><a href="#">Tickets</a></li>
                        <li class="{% if 'catalog:venue' in request.resolver_match.url_name %}active{% endif %}"><a href="{% url 'catalog:venues' %}">Venues</a></li>
                        <li><a href="#">Volunteer</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'tickets:show' %}">My Tickets</a></li>
                                    <li><a href="{% url 'tickets:fringers' %}">My Fringers</a></li>
                                    <li><a href="{% url 'tickets:checkout' %}">Checkout</a></li>
                                    {% if user.is_staff and user.is_active %}
                                        <li><a href="/admin">Admin</a></li>
                                    {% endif %}
                                    <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{% url 'auth_login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>    

        <div id="tf-content">

            {% block basket %}
                {% if request.user.is_authenticated and not request.user.basket.is_empty %}
                    <div class="alert alert-info">
                        <a class="btn btn-primary pull-right" style="margin-top: -7px;" href="{% url 'tickets:checkout' %}">Go to Checkout</a>
                        <i class="fa fa-lg fa-shopping-basket" aria-hidden="true"></i>
                        <span class="hidden-xs hidden-sm">
                            &nbsp;&nbsp;Tickets: {{ request.user.basket.ticket_count }}
                            &nbsp;&nbsp;Fringers: {{ request.user.basket.fringer_count }}
                        </span>
                        <span class="hidden-md hidden-lg">
                            &nbsp;&nbsp;Items: {{ request.user.basket.total_count }}
                        </span>
                        <span class="hidden-xs">
                            &nbsp;&nbsp;Cost: &#163;{{ request.user.basket.total_cost }}
                        </span>
                    </div>
                {% endif %}
            {% endblock %}

            {{ messages|bs_alert:'error'|safe }}
            {{ messages|bs_alert:'warning'|safe }}
            {{ messages|bs_alert:'success'|safe }}
            {{ messages|bs_alert:'info'|safe }}

            {% block content %}{% endblock %}

        </div>
        
    </div>  
        
</body>

</html>
