// Buy
#tf-tickets-buy {

    .tab-content {
        margin-top: 15px;
    }

    .tf-performance {
        font-weight: bold;
    }
}

#tf-tickets-checkout {

    .tf-show-name {
        font-size: $font-size-md;
        font-weight: normal;
    }

    .tf-stripe {
        text-align: right;
    }
}

#tf-tickets-fringers-rename-form {

    .tf-name {
        width: 150px;
    }

}