// Variables
$background-color: #fffaee;
$text-color: #333333;
$primary-color: #1a7cf3;
$secondary-color: #fd7f02;
$warning-color: #ff4040;
$font-size-xs: 10px;
$font-size-sm: 11px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-xl: 18px;
$font-size-xxl: 20px;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// Override Bootstrap defaults
a {
    color: $primary-color;
}

p {
    margin-bottom: 5px;
}

.table {
    margin-bottom: 10px;
}

.alert {
    margin-top: 5px;
    margin-bottom: 5px;
}

.panel-heading .panel-title {
    color: $text-color;
}

// Crispy forms overrides
.asteriskField {
    display: none;
}

// Main layout
body {
    background-color: $background-color;
}

#tf-container {
    @media (min-width: $screen-md) {
        padding-left: 65px;
        padding-right: 65px;
    }
}

// Banner
#tf-banner {
    text-align: center;

    img {
        width: 100%;
    }
}


// Navigator
#tf-navigator {
    .navbar {
        background-color: $secondary-color;
        margin-bottom: 3px;
        min-height: 0;

        ul.navbar-nav > li > a {
            color: #fff06d;
            font-weight: bold;
            padding-top: 3px;
            padding-bottom: 3px;

            &:hover, &:focus, &:focus-within {
                color: white;
                background-color: inherit;
            }
        }
    }
}

// Header
#tf-header {
    position: relative;
    margin-bottom: 10px;

    .tf-social-media {
        position: absolute;
        right: 15px;

        img {
            width: 35px;
        }
    }

    .tf-page-title {
        margin-top: 5px;
        font-size: $font-size-xl;
        font-weight: bold;
    }
}

// Content area
#tf-content {
    font-size: $font-size-md;

    .tf-single-column {
        @media (min-width: $screen-md) {
            margin-left: 75px;
            margin-right: 75px;
        }

        @media (min-width: $screen-lg) {
            margin-left: 100px;
            margin-right: 150px;
        }
    }
}

// General styles
.tf-show-name {
    font-size: $font-size-lg;
    @media (max-width: $screen-xs) {
        font-size: $font-size-md;
    }
    font-weight: bold;
    color: $primary-color;
}

.tf-company-name {
    color: $secondary-color;
    font-weight: bold;

    a {
        color: $secondary-color;
    }
}

.panel-heading .tf-icons {
    float: right;
}

.well ul {
    margin-bottom: 0;
    padding-left: 10px;
}

.tf-actions {
    text-align: right;
}

.tf-form-actions {
    text-align: right;
}

.tf-rows-striped {
    padding-left: 10px;
    padding-right: 10px;

    & > .row {
        padding: 5px;
        border-bottom: 1px solid #eeeeee;

        &:nth-of-type(odd) {
            background-color: #f9f9f9;
        }
    }
}

// Import app stylesheets
@import 'program';
@import 'tickets';
@import 'boxoffice';
